@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f1f1f;
    /* max-height: 100vh; */
    /* overflow: hidden; */
    font-family: "Fugaz One";
    text-transform: uppercase;
    color: white;
    font-size: 4rem;
}

header {
    overflow-x: hidden;
}

.h-outline {
    width: 200%;
    height: 15vh;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 57%, 0 57%);
    transform: translateX(-20%) skew(45deg);
}

main {
    height: 55vh;
    
}



footer {
    overflow-x: hidden;
}

.f-outline {
    width: 200%;
    height: 30vh;
    background: white;
    clip-path: polygon(0 0, 50% 0, 50% 43%, 100% 43%, 100% 100%, 0 100%);
    transform: translateX(-20%) skew(45deg);
}